* {
	margin: 0;
	padding: 0;
	outline: 0 !important;
}


body {
	font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'microsoft yahei', arial, STHeiTi, sans-serif;
}

a {
	text-decoration: none;
}
i {
	font-style: normal;
}

.container {
	padding: 30px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.el-table th {
	background-color: #f2f2f5 !important;
	color: #888;
	font-size: 14px;
}
.el-table th div{
	font-weight: normal;
}

.score_pass{
	color: #00796A;
	text-align: center;
}

.score_fail{
	color: var(--el-color-danger-dark);
	text-align: center;
}

.plugins-tips {
	padding: 20px 10px;
	margin-bottom: 20px;
	background: #eef1f6;
}

.plugins-tips a {
	color: var(--el-color-primary);
}

.el-button + .el-tooltip {
	margin-left: 10px;
}

.mgb20 {
	margin-bottom: 20px;
}
.mgb10 {
	margin-bottom: 10px;
}
.mr10 {
	margin-right: 10px;
}

.move-enter-active,
.move-leave-active {
	transition: opacity 0.1s ease;
}

.move-enter-from,
.move-leave-to {
	opacity: 0;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
	margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
	padding-bottom: 0;
}

[hidden] {
	display: none !important;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
:root {
	--el-border-color: #d8d8d8 !important;
	--el-table-border-color: red !important;
	--el-color-primary: #00796A !important;
	--header-bg-color: #242f42;
	--header-bg-color-hover: #1b2434;
	--header-text-color: #fff;
	--active-color: var(--el-color-primary);
}

.el-table__row{
	--el-table-row-hover-bg-color: #edf9f6;
}

.el-button{
	--el-button-hover-bg-color: #fff4ed;
	--el-button-hover-border-color: #f48839;
	--el-button-hover-text-color: #f48839;
}

.el-button.is-link{
	padding: 0;
}

.el-button--primary{
	--el-button-hover-text-color: #fff;
	--el-button-hover-bg-color: #f48839;
	--el-button-active-bg-color: var(--el-color-primary);
	--el-button-hover-border-color: #f48839;
	--el-button-hover-link-text-color: #f48839;
}